body {
  font-size:20px;
  text-align:Left;
}
#outer-wrapper {
  width:2100px;
  float:center;
  margin:10px;
}
#header-wrapper {
  padding-bottom:20px;
  padding-top:20px;
  margin-bottom:5px;
  color:#FFF;
  background:#1995AD;
  float:left;
  width:2100px;
  text-align: center;
  font-size: 70px;
}

#header-wrapper2 {
  margin-bottom:5px;
  text-align: center;
  font-size: 40px;
  width: 2100px;
  background:#F0F8FF;
  color:#000;
  float:left;

}
#sidebar-wrapper {
  font-size:28px;
  margin-bottom:5px;
  height:900px;
  float:left;
  width:280px;
  background:#F0F8FF;
  text-align: center;
}

#sidebar-wrapper2 {
  font-size:28px;
  margin-bottom:5px;
  margin-left: 10px;
  height:900px;
  float:left;
  width:280px;
  border-color: red;
  background-color:#F0F8FF;
  text-align: center;
}

#sidebar-wrapper h2 {
  font-family: "Open Sans Condensed", Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  background: #B8860B;
  color: #373C41;
  font-size: 20px;
  padding: 10px;
  margin: 0 0 0 0;
  text-align:center;
}
#main-wrapper {
  margin-left:60px;
  margin-bottom:20px;
  height:430px;
  margin-right: 5px;
  float:right;
  width:700px;
  text-align: center;
  background-color:#F0F8FF;
}
#main-wrapper h2 {
  text-align:center;
  font-weight: 300;
  color: #ffffff;
  text-transform: none;
  background-color: #1995AD;
  border: 0;
  padding: 20px;
  font-size: 40px;
  margin-left:-40px;
}
#footer-wrapper {
  margin-bottom:5px;
  padding-bottom: 50px;
  padding-right: 10px;
  height:1%;
  background:#A1D6E2;
  float:left;
  width:85%;
  font-size: 50px;
}

#footer-wrapper2 {
  margin-bottom:5px;
  padding-right: 5px;
  padding-bottom: 50px;
  width:14%;
  height:1%;
  background:#1995AD;
  float:left;
  color:#f1f1f2;
  text-align: right;
  font-size: 50px;
}

.per {
  margin-top:-90px;
  margin-bottom: -50px;
  font-size: 280px;
}

.dar {
  margin-top:-1px;
  margin-bottom: -30px;
  padding-top:20px;
  font-size: 70px;
}
